<div class="uk-width-expand@m">
  <div style="background-color: #877EB4" class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
    <h3 class="uk-card-title uk-text-center">Your Details:</h3>
    <form action="/settings" method="POST">
      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input uk-form-large" type="text" name="firstName" value="{{user.firstName}}">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input uk-form-large" type="text" name="lastName" value="{{user.lastName}}">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: mail"></span>
          <input class="uk-input uk-form-large" type="text" readonly="true" name="email" value="{{user.email}}">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input uk-form-large" type="password" name="password" value="{{user.password}}">
        </div>
      </div>
      <div class="uk-margin">
        <button style="background-color: #653DC2" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Save</button>
      </div>
    </form>
  </div>
</div>