<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Ticking" subTitle="Sign up or Log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/henchy.jpg" />
    </div>
    <div style="color: black" class="uk-width-expand@m">
      <h1 style="color: black" class="uk-heading-small">Account Deleted</h1>
      <p>Sorry to see you go....</p>
    </div>
  </div>
</div>